@import '../../../../css/constants.scss';

.balance-of-wrapper {
  background-color: $bgColor;
  height: 500px;
  overflow-y: auto;
  width: 100%;
  padding: 1% 2.5%;

  h2 {
    @include roboto500;
    font-weight: bold;
    font-size: 25px;
    color: $titleColor;
  }

  table {
    width: 90%;

    overflow-y: auto;

    thead {
      th {
        padding-bottom: 2em;
      }
    }

    tbody {
      text-align: center;
      overflow-y: auto;

      tr {
        height: 100px;
      }
    }
  }

  img {
    width: 20px;
  }
}
