@import '../../css/constants.scss';

.title {
  h1 {
    @include roboto500;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
  }

  p {
    line-height: 1.5em;
    text-align: justify;
  }
}

.button {
  height: 2.5rem;
  width: 25%;
  margin: 0 auto;
}

.input {
  width: 50%;
  margin: 0 auto;
}
