@import '../../../../../../css/constants.scss';

.trading-pairs-wrapper {
  width: 100%;
  margin-top: 2rem;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 3em;
  padding-right: 0.4em;

  img {
    width: 25px;
    height: 25px;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;

    h3 {
      text-align: left;
      font-weight: bold;
      font-size: 17px;
    }

    .add-new-pair {
      font-size: 14px;
      color: $grass;
      cursor: pointer;
    }
  }

  .pair-row {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
      position: relative;

      .field-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;

        .label {
          color: $brownGrey;
          font-size: 14px;
        }
      }

      .price-input,
      .fee-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 17%;
        padding-right: 0.4em;

        span {
          color: $brownGrey;
          font-size: 14px;
          margin-left: 1.3rem;
        }

        .inputHolder {
          width: 55px;
          height: 46px;
          input {
            text-align: center;
            padding-left: 0px;
          }
        }
      }

      .price-input {
        width: 22%;
        padding-right: 1.8em;
      }

      .remove-row-btn {
        cursor: pointer;
        position: absolute;
        left: 98%;
        z-index: 1000;
        color: #c0c1c7;
      }
    }
  }

  .fee-invalid,
  .trading-pairs-icon {
    position: absolute;
    right: 1em;

    img {
      width: 50px;
      height: 50px;
    }

    .content-wrapper {
      &:after {
        top: 1.6em;
        right: 14.6em;
      }
    }
  }

  .fee-invalid {
    right: 14.6em;
  }
}
