@import '../../../css/constants.scss';

.app-wrapper {
  background-color: $bgColor;
  padding: 20px;
  height: 500px;
  width: 100%;
  overflow: auto;

  .questions-wrapper {
    margin: auto;
  }

  .scroll-to-top-img-wrapper {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 89%;
    left: 5%;
    z-index: 9999;
    text-align: center;
    border-radius: 50px;
    box-shadow: $notFocusedShadow;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: $notFocusedShadow;

      &:before {
        content: '\f077';
        font-family: 'FontAwesome';
        color: $strawberry;
      }
    }
  }

  .collapsible-style,
  .collapsible-style-opened {
    color: $duskyBlue;
    cursor: pointer;
    margin-bottom: 30px;
    text-align: center;

    img {
      width: 15px;
      margin-left: 10px;
    }
  }

  .advanced-options-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.app-wrapper::-webkit-scrollbar {
  width: 6px;
}

.app-wrapper::-webkit-scrollbar-track-piece {
  // background-color: lightgray;
}

.app-wrapper::-webkit-scrollbar-thumb {
  background-color: $duskyBlue;
  border-radius: 15px;
}

span,
label {
  @include roboto500;
  font-size: 14px;
  font-weight: bold;
  color: $duskyBlue;
}

.butler-name-wrapper,
.notifications-wrapper,
.price-provider,
.rebalance-wrapper,
.trading-pairs-wrapper,
.wallets-wrapper,
.database-wrapper,
.server-options-wrapper {
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;

  &:after {
    display: block;
    content: '';
    border-bottom: 1px solid #a9a9a9;
    margin-top: 30px;
  }
}

.errorMsg {
  @include roboto500;
  font-size: 14px;
  font-weight: bold;
  color: red;
}
