@import '../../../../../css/constants.scss';

.wallets-wrapper {
  .wallet-row {
    display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
    box-shadow: $notFocusedShadow;
    border-radius: $questionRadius;
    padding: 0 15px;
    margin-top: 30px;

    &:focus-within {
      box-shadow: $focusedShadow;
    }

    .wallet {
      display: flex;
      align-items: center;
      margin-right: 40px;
      width: 12%;
      display: flex;
      justify-content: space-evenly;

      img {
        width: 20px;
        height: 20px;
      }
    }

    .wallet-info-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .wallet-address,
      .wallet-private-key {
        width: 45%;
        input {
          margin-bottom: 10px;
          width: 80%;
          box-shadow: none;
          border-bottom: 1px solid #a9a9a9;
          border-radius: 0;
        }
      }
    }
  }

  .wallet-address-span {
    display: block;
    font-size: 14px;
    @include roboto500;
    text-align: center;
    font-weight: bold;
  }

  label {
    @include roboto500;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
}
