.terminal-wrapper {
  width: 70% !important;
  height: 500px;

  input {
    display: none;
  }

  .terminal-base.sc-bdVaJa.blCJWW,
  .sc-jTzLTM.lfnIny,
  .sc-bxivhb.hdqhPL,
  .sc-EHOje.dMFuoo {
    max-width: 100% !important;
  }

  .terminal-base.sc-bdVaJa.blCJWW {
    max-width: 900px;
    height: 500px;
  }

  .sc-EHOje.dMFuoo {
    overflow-x: hidden;
    height: 436px;
  }
}
