@import '../../../../../css/constants.scss';

.rebalance-wrapper {
  height: 116px;

  .title-and-rebalance-wrapper {
    display: flex;
    height: 51px;
  }

  .rebalance-checkbox-wrapper {
    display: flex;
    text-align: center;
    font-weight: bold;
    margin-left: 25%;

    @include styleCheckbox;
  }

  .rebalance-input-wrapper {
    display: flex;
    justify-content: space-between;

    input {
      width: 45%;
    }
  }
}
