@import "../../../../../css/constants.scss";

.price-provider {
  height: 121px;

  .title-and-provider-wrapper {
    display: flex;
    height: 51px;
    h3 {
      margin: 0;
      width: 20%;
    }
  }

  .price-provider-wrapper {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    width: 29%;

    justify-content: space-around;

    .current-provider {
      position: relative;
      width: 55%;
      bottom: 9px;
      margin-right: 32px;

      @include styleRadioButton;
    }
  }

  .price-provider-inputs-wrapper {
    display: flex;
    justify-content: space-between;

    .price-provider-input-wrapper {
      display: flex;
      justify-content: space-between;
      width: 30%;

      input[type="text"] {
        width: 100%;
      }

      &:last-child {
        justify-content: center;
        align-items: center;
        max-height: 40px;
        max-width: 252px;

        p {
          min-width: 50%;
          @include roboto500;
          color: $duskyBlue;
        }

        .selected-interval {
          @include roboto500;
          color: $duskyBlue;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          box-shadow: $notFocusedShadow;
          height: 40px;

          border-radius: 13px;

          &.menu-open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: 5px 5px 10px #c0c1c7, -5px 3px 10px #fff;
          }
        }
      }
    }
  }

  .interval-menu {
    background-color: $bgColor;
    position: absolute;
    box-shadow: 5px 5px 10px #c0c1c7, -5px 3px 10px #fff;
    width: 109px;
    right: 20px;
    float: right;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1000;

    .interval-wrapper {
      color: $duskyBlue;
      text-align: center;
      cursor: pointer;

      &:hover {
        width: 90%;
        margin: 0 auto;
        background-color: rgba(255, 0, 0, 0.3);
        border-radius: 12px;
      }
    }
  }
}
