@import "../../../../../css/constants.scss";

.price-provider-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  div {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  label {
    cursor: pointer;
    font-weight: bold;
  }
}

.price-provider-api {
  margin-right: 50px;
}

.price-provider-input-wrapper {
  display: flex;
  justify-content: space-between;

  input {
    width: 45%;
  }
}
