.server-options-wrapper {
  width: 98%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 6%;

  .server-options {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-gap: 6%;

    .advanced-input-wrapper {
      span {
        margin-bottom: 8px;
        display: inline-block;
        text-align: center;
      }

      input {
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
}
