.password-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;

  .title {
    text-align: center;
    font-size: 1.5rem;
    padding: 3em;

    p {
      color: gray;
      margin-top: 15px;
      font-size: 12px;
      span {
        color: gray;
      }
    }
  }

  .logo {
    width: 30%;
    margin: 0 auto;
  }

  .input-wrapper {
    height: 28%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    position: relative;

    .info {
      margin-bottom: 10px;
    }

    input {
      text-align: center;
      margin-bottom: 25px;
    }

    .success {
      color: green;
    }

    .warning {
      color: orange;
    }

    .danger {
      color: red;
    }

    .error-msg {
      color: red;
      font-weight: bold;
      margin-bottom: 10px;
    }

    span {
      color: red;
      padding: 0 0.6em;

      font-size: 1rem;
    }

    button {
      font-size: 1rem;
      padding: 1em 2em;
      margin: 0 auto;
      background: rgb(34, 193, 195);
      background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(177, 45, 253, 1) 100%);
    }
  }
}
