@import '../../../../css/constants.scss';

.wallets-wrapper {
  .wallet-row {
    display: flex;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;

    .wallet {
      display: flex;
      align-items: center;

      margin-right: 50px;
      width: 10%;
    }

    .wallet-info-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .wallet-address,
      .wallet-private-key {
        width: 45%;
        input {
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }
  }

  .wallet-address-span {
    display: block;
    font-size: 14px;
    @include roboto500;
    text-align: center;
    font-weight: bold;
  }

  label {
    @include roboto500;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
}
