@import "../../../../../css/constants.scss";

.database-wrapper {
  height: 130px;
  width: 98%;
  margin: auto;
  margin-top: 6%;

  .db-radio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      @include styleRadioButton;

      label {
        width: 100px;
      }

      .check {
        position: relative;
        top: 2px;
        left: -113px;

        &:before {
          position: relative;
          left: 0;
          bottom: 0;
          top: 1px;
        }
      }
    }
  }

  .mongo-db-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
