@import '../../../css/constants.scss';

.content-wrapper {
  display: grid;
  justify-content: start;
  align-items: start;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 4rem;
  box-sizing: border-box;
}
