@import '../../css/constants.scss';

.logs-wrapper {
  @include roboto500;
  background-color: $bgColorDarker;
  width: 100% !important;
  height: 26.7em;
  padding: 1em 1em;
}

.logs-footer {
  grid-template-columns: 1fr 1fr;
}
