@import '../../../../../css/constants.scss';

.butler-name-wrapper {
  display: flex;
  flex-direction: column;
  height: 120px;

  span {
    text-align: center;
  }

  .errorMsg {
    position: relative;
    top: 20%;
  }
}
