@import '../../../../../../css/constants.scss';

.butler-name-wrapper {
  margin-top: 2rem;
  position: relative;
  height: 150px;
  border-bottom: 1px solid #c1c1c1;
  padding-right: 0.4em;

  h3 {
    text-align: left;
    font-weight: bold;
    font-size: 17px;
  }

  .name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    height: 51px;
    margin-left: 0.3rem;

    .inputHolder {
      width: 50%;

      input {
        @include butlerInput;
      }
    }

    .butler-name-icon {
      width: 50%;

      .content-wrapper {
        &:after {
          top: 4.8em;
        }
      }
    }
  }
}
