.empty-page-wrapper {
  h3 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
    font-size: 22px;
  }

  p {
    text-align: center;
  }
}

.image-wrapper {
  margin: 0 auto;
  margin-top: 8em;
  width: 33%;

  img {
    width: 222px;
  }
}
