@import "../../css/constants.scss";

.header-wrapper {
  background-color: $bgColor;
  width: 100%;
  padding: 0 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  header {
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #a9a9a9;

    .logo-wrapper {
      .logo {
        width: 140px;
        margin-top: 15px;
      }
    }
  }
}
