.header-wrapper {
  background-color: #e4e4e4;
  width: 70%;
  padding: 0 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 140px;
    margin-top: 15px;
  }

  .nav-links-wrapper {
    width: 250px;
    display: flex;
    justify-content: space-around;

    .active-nav-link {
      color: cyan;
    }
  }
}
