@import '../../css/constants.scss';

.header-wrapper {
  background-color: $bgColor;
  width: 100%;
  height: 102px;
  padding: 0 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .img-wrapper {
    width: 130px;
    img {
      height: 60px;
    }
  }

  header {
    width: 95%;
    margin: auto;
    border-bottom: 1px solid #a9a9a9;

    .logo-wrapper {
      .logo {
        width: 140px;
        margin-top: 15px;
      }
    }
  }

  .nav-links-wrapper {
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      @include roboto500;
      padding: 0;
      color: $duskyBlue;
      font-size: 1em;
      background-color: inherit;

      &.active {
        color: purple;
      }
    }
  }
}
