@import '../../../../css/constants.scss';

.blockchain-provider-wrapper {
  margin-top: 2rem;
  padding-right: 0.4em;
  position: relative;

  .provider-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    input {
      margin-left: 0.3rem;
      width: 330px;
      height: 46px;
    }

    button {
      background-color: $grass;
      width: 180px;
      height: 46px;
      font-size: 12px;
      box-shadow: none;
      margin-right: 0;
    }

    padding-bottom: 51px;
    border-bottom: 1px solid #c1c1c1;
  }

  .blockchain-provider-message {
    top: -0.8em;
    right: 0.5em;
    position: absolute;

    .content-wrapper {
      &:after {
        top: 1.6em;
        right: 14.6em;
      }
    }
  }
}
