@import '../../../../css/constants.scss';

.rebalance-wrapper {
  margin-top: 2rem;
  height: 140px;
  border-bottom: 1px solid #c1c1c1;
  position: relative;

  .title-and-rebalance-wrapper {
    display: flex;

    .rebalance-checkbox-wrapper {
      margin-left: 12.4rem;
    }
  }

  .rebalance-input-wrapper {
    .inputHolder {
      width: 330px;
      height: 46px;
    }
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
  }

  .rebalance-message {
    position: absolute;

    top: -1em;
    right: 0em;
    .content-wrapper {
      &:after {
        top: 1.6em;
        right: 14.6em;
      }
    }
  }
}
