@import '../../css/constants.scss';

.footer-wrapper {
  background-color: $bgColor;
  width: 100%;
  padding: 0 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 102px;

  button {
    @include roboto500;

    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 287px;
    height: 46px;
    border-radius: 10px;
    box-shadow: 3px 3px 12px 0 rgba(0, 0, 0, 0.18);
    background-image: linear-gradient(108deg, #e7323e -106%, #a7223f 100%);
    width: 25%;
    margin-right: 2%;

    &:hover {
      opacity: 0.8;
    }

    span {
      color: white;
    }

    img {
      width: 82px;
      height: 46px;
      margin-right: 17px;
    }
  }
}

.modal-content {
  text-align: center;

  h2 {
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    margin-top: 12rem;
    height: 120px;
    justify-content: space-between;
  }

  .error-msg {
    color: red;
    font-weight: bold;
  }

  button {
    font-size: 1rem;
    padding: 0.8em 3em;
    margin: 0 auto;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(177, 45, 253, 1) 100%);
  }
}
