@import '../../../../css/constants.scss';

.price-provider {
  margin-top: 2rem;
  height: 231px;
  border-bottom: 1px solid #c1c1c1;
  padding-right: 0.4em;
  .title-and-provider-wrapper {
    display: flex;

    .price-provider-wrapper {
      display: flex;
      justify-content: space-between;
      margin-left: 6.5rem;
      width: 250px;
    }
  }

  .price-provider-inputs-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;

    &.binance {
      display: grid;
      grid-template-columns: 47% 47%;
      grid-gap: 6%;

      .inputHolder {
        width: 100%;
      }
    }

    .inputHolder {
      width: 330px;
      height: 46px;
    }
  }

  .bottom-row {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    button {
      background-color: $grass;
      width: 180px;
      height: 46px;
      font-size: 12px;
      box-shadow: none;
    }

    .price-provider-input-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      & > :first-child {
        width: 237px;
      }

      .selected-interval {
        color: $duskyBlue;
        cursor: pointer;
        box-shadow: 5px 5px 10px #c0c1c7, -5px -5px 10px #ffffff;
        width: 67%;
        padding: 1em;
        border-radius: 10px;
        user-select: none;
      }

      .interval-menu {
        position: absolute;
        right: -31px;
        top: 53px;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        width: 190px;
        padding: 1em;
        box-shadow: 5px 5px 10px #c0c1c7, -5px 0px 10px #ffffff;
        color: $duskyBlue;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .price-provider-message {
      position: absolute;

      top: 0.9em;
      right: 13em;

      .content-wrapper {
        &:after {
          top: 1.6em;
          right: 14.6em;
        }
      }
    }
  }
}
