@import './css/constants.scss';

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  margin: auto;
  position: relative;
  top: 20%;
}

.bg-bitcoin-image {
  position: absolute;
  width: 143px;
  height: 136px;
  right: calc(100vw - 250px);
  top: calc(100vh - 70%);
}

.bg-ether-image {
  position: absolute;
  width: 200px;
  height: 100px;
  left: calc(100vw - 250px);
  top: calc(100vh - 30%);
}

h3 {
  @include roboto500;
  width: 225px;
  height: 20px;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 0.34px;
  text-align: left;
  color: $titleColor;
  margin-bottom: 2.3%;
}
